@media only screen and (max-width: 391px) {
	.badges-image {
		width: 70%;
	}
	.slider > button {
		color: red;
	}
	.badges-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.slider-container {
		width: 80%;
		margin: auto;
		align-items: center;
		text-align: center;
		padding: 2rem 0.5rem;
	}
	.text-container {
		text-align: center;
	}

	.modal-body {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		text-wrap: wrap;
		padding: 5rem 1rem;
	}
	.modal-image-container {
		width: 80%;
		margin: auto;
		display: flex;
		justify-content: center;
	}
	.modal-image-container > img {
		width: 50%;
	}
}
