* {
	margin: 0px;
}
@media only screen and (max-width: 391px) {
	.loader {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#body {
		padding: 5rem 1rem 1rem 1rem;
	}
	.body-main {
		background-color: white;
		height: 100vh;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}
	.profile-pic {
		width: 33%;
	}
	.pic-container {
		background-color: white;
		margin-top: 40px;
		border-radius: 100%;
		box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
			rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
			rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	}
	.profile-pic-container {
		height: 1px;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* gap: 2rem; */
	}
	.profile-image {
		width: 100%;
		/* box-shadow: white 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
	}
	.name {
		padding-top: 15px;
	}
	.result-container {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 1rem;
		padding: 7rem 1rem 1rem 1rem;
	}
	.result-container > div {
		text-align: center;
		background-color: #5c32e6;
		padding: 0.5rem;
		color: white;
		border-radius: 0.5rem;
		height: 70px;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	.section-container {
		display: flex;
		gap: 2rem;
		text-align: center;
		align-items: center;
		justify-content: center;
		padding-top: 1rem;
	}
	.links {
		text-decoration: none;
		color: grey;
		padding: 1px;
	}
	.active {
		color: #5c32e6;
		border-bottom: 2px solid #5c32e6;
		text-decoration: none;
	}
}
